@import '../../../style/variables.scss';

.collection {
  margin: 2rem 0;

  &__header {
    width: 100%;
    padding: 1rem;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Bebas Neue';
    border: 1px solid #f3f3f3;
    font-weight: normal;
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  p {
   line-height: 150%;
  }

  &__listings {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
  }
}

.buy-button {
  display: flex;
  margin-top: 1rem;


  &>* {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .75rem;
    font-family: 'Bebas Neue';
    font-size: 1.8rem;
  }

  &__button {
    background-color: $kfc-color;
    color: white;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: darken($color: $kfc-color, $amount: 10);
    }

    &:active {
      background-color: darken($color: $kfc-color, $amount: 20);
    }
  }

  &__price {
    color: $kfc-color;
    border: 3px solid $kfc-color;
  }
}