@import '../../style/variables.scss';


.drawer-container {
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: all $drawer-transition-duration ease-in-out;
  background-color: rgba($color: #000000, $alpha: .3);


  &--open {
    visibility: visible;
    opacity: 1;
  }

  .backdrop {
    flex: 1;
  }


  .drawer {
    transition: all $drawer-transition-duration ease-in-out;
    transform: translateX(calc(300px));
    width: 300px;
    border-left: 1px solid #ccc;
    background-color: white;
    height: 100vh;

    &--open {
      transform: translateX(0);
    }
  }
}