@import '../../../style/variables.scss';

.nav__utils-menu {
  list-style-type: none;
  font-size: 1.6rem;
  font-family: "Bebas Neue";

  li {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }

    a,
    a:visited {
      padding: .5rem;
      color: $text-color;
      text-decoration: none;
      display: flex;
      align-items: center;

      svg {
        margin-right: .25rem;
      }

      &:hover {
        text-decoration: underline;
      }
    }
    
    a.active {
      background-color: $kfc-color;
      color: white
    }
  }
}